In [1]:
import MetroDeMadrid_db #file that contains the DB connection
import json #importing JSON to read in MetroMadridTables.JSON

In [ ]:
#load in the madrid json column details into a Python dictionary
with open('data/MetroDeMadrid/gtfs/MetroMadridTables.json', 'r') as file:
    MetroTables = json.load(file)

In [17]:
MetroTables

{'stops': {'columns': {'stop_id': 'VARCHAR2(16) PRIMARY KEY',
   'stop_code': 'stop_code NUMBER(4)',
   'stop_name': 'VARCHAR2(64)',
   'stop_desc': 'VARCHAR2(64)',
   'stop_lat': 'NUMBER(9,6)',
   'stop_lon': 'NUMBER(9,6)',
   'zone_id': 'VARCHAR2(4)',
   'stop_url': 'VARCHAR2(256)',
   'location_type': 'NUMBER(1)',
   'parent_station': 'VARCHAR2(16)',
   'stop_timezone': 'VARCHAR2(16)',
   'wheelchair_boarding': 'NUMBER(1)'}},
 'agency': {'columns': {'agency_id': 'VARCHAR2(4)',
   'agency_name': 'VARCHAR2(64)',
   'agency_url': 'VARCHAR2(32)',
   'agency_timezone': 'VARCHAR2(16)',
   'agency_lang': 'VARCHAR2(2)',
   'agency_phone': 'VARCHAR2(16)',
   'agency_fare_url': 'VARCHAR2(32)'}},
 'calendar': {'columns': {'service_id': 'VARCHAR2(8)',
   'monday': 'NUMBER(1)',
   'tuesday': 'NUMBER(1)',
   'wednesday': 'NUMBER(1)',
   'thursday': 'NUMBER(1)',
   'friday': 'NUMBER(1)',
   'saturday': 'NUMBER(1)',
   'sunday': 'NUMBER(1)',
   'start_date': {'type': 'DATE', 'format': 'YYYYMMDD'},
   'end_date': {'type': 'DATE', 'format': 'YYYYMMDD'}}},
 'calendar_dates': {'columns': {'service_id': 'VARCHAR2(8)',
   'date': {'type': 'DATE', 'format': 'YYYYMMDD'},
   'exception_type': 'NUMBER'}},
 'fare_attributes': {'columns': {'fare_id': 'VARCHAR2(64)',
   'price': 'VARCHAR2(64)',
   'currency_type': 'VARCHAR2(64)',
   'payment_method': 'VARCHAR2(64)',
   'transfers': 'VARCHAR2(64)',
   'transfer_duration': 'VARCHAR2(64)'}},
 'fare_rules': {'columns': {'fare_id': 'VARCHAR2(64)',
   'route_id': 'VARCHAR2(64)',
   'origin_id': 'VARCHAR2(64)',
   'destination_id': 'VARCHAR2(64)',
   'contains_id': 'VARCHAR2(64)'}},
 'feed_info': {'columns': {'feed_publisher_name': 'VARCHAR2(64)',
   'feed_publisher_url': 'VARCHAR2(32)',
   'feed_lang': 'VARCHAR2(2)',
   'feed_start_date': {'type': 'DATE', 'format': 'YYYYMMDD'},
   'feed_end_date': {'type': 'DATE', 'format': 'YYYYMMDD'},
   'feed_version': 'VARCHAR2(16)'}},
 'frequencies': {'columns': {'trip_id': 'VARCHAR2(32)',
   'start_time': {'type': 'DATE', 'format': 'HH24:MI:SS'},
   'end_time': {'type': 'DATE', 'format': 'HH24:MI:SS'},
   'headway_secs': 'NUMBER(4)',
   'exact_times': 'NUMBER(1)'}},
 'routes': {'columns': {'route_id': 'VARCHAR2(8)',
   'agency_id': 'VARCHAR2(4)',
   'route_short_name': 'VARCHAR2(1)',
   'route_long_name': 'VARCHAR2(64)',
   'route_desc': 'VARCHAR2(64)',
   'route_type': 'NUMBER',
   'route_url': 'VARCHAR2(32)',
   'route_color': 'VARCHAR2(8)',
   'route_text_color': 'VARCHAR2(8)'}},
 'shapes': {'columns': {'shape_id': 'VARCHAR2(32)',
   'shape_pt_lat': 'NUMBER(15, 13)',
   'shape_pt_lon': 'NUMBER(15, 13)',
   'shape_pt_sequence': 'NUMBER(8)',
   'shape_dist_traveled': 'NUMBER(14,11)'}},
 'stop_times': {'columns': {'trip_id': 'VARCHAR2(32)',
   'arrival_time': {'type': 'INTERVAL DAY TO SECOND', 'format': 'HH24:MI:SS'},
   'departure_time': {'type': 'INTERVAL DAY TO SECOND',
    'format': 'HH24:MI:SS'},
   'stop_id': 'VARCHAR2(16)',
   'stop_sequence': 'NUMBER(2)',
   'stop_headsign': 'VARCHAR2(255)',
   'pickup_type': 'NUMBER(1)',
   'drop_off_type': 'NUMBER(1)',
   'shape_dist_traveled': 'NUMBER(10,6)'}},
 'trips': {'columns': {'route_id': 'VARCHAR2(8)',
   'service_id': 'VARCHAR2(64)',
   'trip_id': 'VARCHAR2(32)',
   'trip_headsign': 'VARCHAR2(32)',
   'trip_short_name': 'NUMBER(2)',
   'direction_id': 'NUMBER(2)',
   'block_id': 'VARCHAR2(64)',
   'shape_id': 'VARCHAR2(32)',
   'wheelchair_accessible': 'NUMBER(1)'}}}

In [13]:
print(MetroTables['stops']['columns']['stop_id'])

VARCHAR2(16) PRIMARY KEY

In [15]:
#This for loop is to iterate through the dictionary and making a seperate dictionary just containing the columns
for table_name, table_details in MetroTables.items():
    MetroColumns = table_details["columns"]

In [16]:
MetroColumns

{'route_id': 'VARCHAR2(8)',
 'service_id': 'VARCHAR2(64)',
 'trip_id': 'VARCHAR2(32)',
 'trip_headsign': 'VARCHAR2(32)',
 'trip_short_name': 'NUMBER(2)',
 'direction_id': 'NUMBER(2)',
 'block_id': 'VARCHAR2(64)',
 'shape_id': 'VARCHAR2(32)',
 'wheelchair_accessible': 'NUMBER(1)'}

In [14]:
connection = MetroDeMadrid_db.get_connection()  #connecting to the database. Imported the function for security
cursor = connection.cursor()    #initializing the cursor
print("connection established!")

connection established!

In [ ]:
# Construct the CREATE TABLE SQL statement
columns_definitions = ", ".join([f"{col} {dtype}" for col, dtype in columns.items()])
create_table_sql = f"CREATE TABLE {MetroTables} ({columns_definitions})"

try:
    cursor.execute(create_table_sql)
    print(f"Table {table_name} created successfully.")
except oracledb.DatabaseError as e:
    print(f"Error creating table {table_name}: {e}")

# Commit the changes and close the connection
connection.commit()
cursor.close()
connection.close()