In [43]:
#This file's intention is to connect the stops for Madrid's Metro to our database. 
#It will be using Pandas to handle the dataframes (and to load into Oracle), os to check if the files exist, and oracledb to connect to the database itself.
#For the time being, we will only be focusing on stops.txt

In [63]:
import pandas as pd #for handling the dataframe
import os #used to check if file exsisted in the intended directory
import oracledb #to connect database
import MetroDeMadrid_db #importing db connection for security

In [45]:
file_path = 'data/MetroDeMadrid/gtfs/stops.txt' #directory

os.path.exists(file_path) #checking if the file path exists

True

In [46]:
stops = pd.read_csv('data/MetroDeMadrid/gtfs/stops.txt') #loading the file into a dataframe

stops.head() #printing to check

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
0,par_4_1,1,PLAZA DE CASTILLA,Paseo de la Castellana 189,40.46690,-3.68917,A,http://www.crtm.es,0,est_90_21,NaN,0
1,acc_4_1_1,1,Plaza de Castilla,Paseo de la Castellana 189,40.46682,-3.68918,NaN,http://www.crtm.es,2,est_90_21,NaN,0
2,acc_4_1_1040,1,Ascensor,Plaza de Castilla 9,40.46555,-3.68877,NaN,http://www.crtm.es,2,est_90_21,NaN,0
3,acc_4_1_1043,1,Intercambiador Superficie,Paseo de la Castellana 191 B,40.46728,-3.68915,NaN,http://www.crtm.es,2,est_90_21,NaN,0
4,acc_4_1_1044,1,Ascensor,Paseo de la Castellana 189,40.46702,-3.68918,NaN,http://www.crtm.es,2,est_90_21,NaN,0

In [72]:
import importlib #Made changes to MetroDeMadrid_db, so it had to be reloaded.
import MetroDeMadrid_db #file that contains the db connection. Put it in a different directory for security. 

if importlib.reload(MetroDeMadrid_db):
    print("Module reloaded successfully!")

Module reloaded successfully!

In [75]:
import MetroDeMadrid_db

try:
    # Get the database connection
    connection = MetroDeMadrid_db.get_connection()
    print("Connection established successfully!")

    # Create a cursor to test a simple query
    cursor = connection.cursor()
    cursor.execute("SELECT * FROM DUAL")  # Replace with a query valid for your Oracle DB

    # Print the result of the query
    for row in cursor:
        print(row)

    # Close the cursor and connection
    cursor.close()
    connection.close()
    print("Connection closed successfully!")

except Exception as e:
    print(f"Error connecting to the database: {e}")

Error connecting to the database: ORA-28009: connection as SYS should be as SYSDBA or SYSOPER
Help: https://docs.oracle.com/error-help/db/ora-28009/